body {
    background: url(images/pink_rice.jpg);
}
#container {
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
}

.columns {
    display: flex;
    width: 100%;
}

.column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

#banner {
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color:rgb(255, 30, 105);
}

#banner:hover {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 5px;
    color: rgb(255, 81, 139);
    transition: all 2s;
}

header {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    color:rgb(255, 30, 105);
    background-color: rgb(80, 4, 37);
    font-family: Anton;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    cursor: pointer;
    transform: rotate(0deg);
}

#image:hover {
    transition: all 2s ease-out;
    transform: rotate(360deg);
}

header img {
    flex: 1;
    max-width: 200px;
    margin-left: auto;
}

.banner {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

h2 {
    font-family: Anton;
    text-align: center;
}

ul, ol {
    list-style-type: none;
    padding-left: 0px;
}

ul li a {
    text-decoration: none; 
    font-family: Work Sans; 
    font-weight: bold;
    text-align: center;
    color:rgb(80, 4, 37);
    border: 2px solid rgb(82, 16, 39);
    padding: 20px;
    display: block; 
    margin-bottom: 20px;
    background-color:rgb(255, 81, 139);
    border-radius: 5px;
}

ul li a:hover {
    background-color:rgb(255, 30, 105);
}

footer {
    font-family: Work Sans;
    text-align: center;
    color:rgb(255, 92, 146);
    background-color:rgb(80, 4, 37);
    font-weight: bold;
}
